.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

.icon-xs {
  // width: ?;
  // height: ?;
}

.icon-sm {
  // width: ?;
  // height: ?;
}

.icon-md {
   // width: ?;
  // height: ?; 
}

.icon-lg {
  // width: ?;
  // height: ?;
}