$u10: 0.624em;
$u10: 0.702rem;
$u12: 0.79rem;
$u14: 0.889rem;
$u16: 1rem;
$u18: 1.125rem;
$u20: 1.25rem;
$u22: 1.375rem;
$u24: 1.5rem;
$u28: 1.75rem;
$u32: 2rem;
$u36: 2.25rem;
$u40: 2.5rem;
$u45: 2.8125rem;
$u48: 3rem;
$u60: 3.75rem;
$u100: 6.25rem;
$u130: 8.125rem;
$u160: 10rem;

// Primary Colors

// Secondary Colors

// Tertiary Colors

// Background Color


// Grids

// Sizes
$tablet-p: 780px; // -
$tablet-l: 1020px; // -
$laptop:1350px; // -
$laptop:1500px; //+

// Section Heights

// Letter Spacing

$site_url: '';